@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

  :root {
  --gap: 24px;
  --content-gap: 40px;
  --nav-width: 1024px;
  --main-width: 760px;
  --header-height: 60px;
  --footer-height: 60px;
  --radius: 8px;

  --theme: #fff;
  --entry: #fff;
  --primary: rgba(0, 0, 0, 0.88);
  --secondary: rgba(0, 0, 0, 0.56);
  --tertiary: rgba(0, 0, 0, 0.16);
  --content: rgba(0, 0, 0, 0.88);

  --hljs-bg: #1c1d21;
  --code-bg: #f9f9f9;
  --border: #eee;
}
.dark {
  --theme: #1d1e20;
  --entry: #2e2e33;
  --primary: rgba(255, 255, 255, 0.84);
  --secondary: rgba(255, 255, 255, 0.56);
  --tertiary: rgba(255, 255, 255, 0.16);
  --content: rgba(255, 255, 255, 0.64);

  --hljs-bg: #2e2e33;
  --code-bg: #37383e;
  --border: #5b5d67;
}
.list {
  background: var(--code-bg);
}
.dark.list {
  background: var(--theme);
}
/* Reset
-------------------------------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: var(--primary);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 1.8;
  word-break: break-word;
  background: var(--code-bg);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary);
  line-height: 1.4;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
strong,
b {
  font-weight: 600;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  color: var(--primary);
  text-decoration: none;
}
figure {
  margin: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
button,
input,
textarea {
  padding: 0;
  font: inherit;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  appearance: none;
}
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}
input,
textarea {
  padding: 0;
  border: 0;
  outline: 0;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 50px var(--theme) inset;
}
img {
  display: block;
  max-width: 100%;
  border-radius: 6px;
}
/* Header
-------------------------------------------------- */
header.header {
  background-color: #1f2029;
  box-shadow: 0 0 0 1px rgba(53,72,91,.04),0 2px 2px rgba(0,0,0,0),0 4px 4px rgba(0,0,0,.01),0 10px 8px rgba(0,0,0,.02),0 15px 15px rgba(0,0,0,.02),0 30px 30px rgba(0,0,0,.02),0 70px 65px rgba(0,0,0,.03);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}
.nav a {
  line-height: var(--header-height);
}
.logo,
.menu {
  margin-right: var(--gap);
}
.logo a {
  color: #ffeaa7;
  font-size: 24px;
  font-weight: 700;
}
/* Main
-------------------------------------------------- */
.main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.single .main {
	margin-top: 0;
}
.page-header {
  margin-bottom: 24px;
}
.page-header h1 {
  font-size: 40px;
}
.pagination {
  display: flex;
}
.pagination a {
  color: #ffeaa7;
  font-size: 13px;
  line-height: 36px;
  background: #1F2029;
  border-radius: calc(36px / 2);
}
.pagination .prev {
  padding-left: 16px;
  padding-right: 18px;
}
.pagination .next {
  margin-left: auto;
  padding-left: 18px;
  padding-right: 16px;
}
/* Post entry
-------------------------------------------------- */
.first-entry {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: var(--header-height);
}
.first-entry .entry-header {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.first-entry .entry-header h2 {
  font-size: 40px;
}
.first-entry .entry-content {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 16px;
  color: #444;
  -webkit-line-clamp: 3;
}

.post-entry {
  position: relative;
  margin-bottom: 60px;
  padding: var(--gap);
  background: var(--entry);
  border-radius: var(--radius);
  transition: transform 0.1s;
}
.post-entry:active {
  transform: scale(0.96);
}
.entry-header h2 {
  font-size: 24px;
  margin-top: 10px;
}
.entry-content {
  margin-top: 8px;
  margin-bottom: 8px;
  color: #444;
  font-size: 16px;
  line-height: 1.6;
}
.entry-footer {
  color: var(--secondary);
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
}
.entry-link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* Post single
-------------------------------------------------- */
.post-header {
  margin-top: 10px;
  margin-bottom: var(--content-gap);
}
.post-title {
  margin-bottom: 2px;
  font-size: 38px;
  line-height: 61px;
  transform: translateX(-2px);
}
.post-meta {
  color: var(--secondary);
  font-size: 14px;
  line-height: 22px;
  font-family: "Roboto Mono", monospace;
}
.post-content {
  color: var(--content);
}
.post-content h1 {
  margin-top: 40px;
  margin-bottom: 32px;
}
.post-content h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
}
.post-content h1 {
  font-size: 40px;
}
.post-content h2 {
  font-size: 32px;
}
.post-content h3 {
  font-size: 24px;
}
.post-content h4 {
  font-size: 16px;
}
.post-content h5 {
  font-size: 14px;
}
.post-content h6 {
  font-size: 12px;
}
.post-content a {
  color: #0066CC;
  box-shadow: 0 1px 0 var(--primary);
}
.post-content a:hover {
  color: var(--primary);
  box-shadow: 0 1px 0 #0066CC;
}
.post-content a code {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
  box-shadow: 0 -1px 0 var(--primary) inset;
}
.post-content del {
  text-decoration: none;
  background: linear-gradient(to right, var(--primary) 100%, transparent 0) 0
    50% / 1px 1px repeat-x;
}
.post-content p,
.post-content ul,
.post-content ol,
.post-content dl {
  margin-bottom: var(--content-gap);
}
.post-content ul,
.post-content ol {
  padding-left: 30px;
}
.post-content li p {
  margin-bottom: 0;
}
.post-content dl {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.post-content dt {
  width: 25%;
  font-weight: 700;
}
.post-content dd {
  width: 75%;
  margin-left: 0;
  padding-left: 10px;
}
.post-content dt ~ dt,
.post-content dd ~ dd {
  margin-top: 10px;
}
.post-content table {
  margin-bottom: 32px;
}
.post-content table th,
.post-content table:not(.highlighttable) td {
  min-width: 80px;
  padding: 12px 8px;
  line-height: 1.5;
  border-bottom: 1px solid var(--border);
}
.post-content table th {
  font-size: 14px;
  text-align: left;
}
.post-content table:not(.highlighttable) td code:only-child {
  margin-left: 0;
  margin-right: 0;
}
.post-content .highlight {
  display: inline-block;
  padding: 0 20px;
  background: #ffeaa7;
}

/* table */
.post-content .highlighttable {
  table-layout: fixed;
}
.post-content .highlighttable td:first-child {
  width: 40px;
}
.post-content .highlighttable td .linenodiv {
  padding-right: 0 !important;
}
.post-content .highlighttable td .linenodiv pre,
.post-content .highlighttable td .highlight {
  margin-bottom: 0;
}
.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
  display: none;
}
/* inline */
.post-content .highlight span {
  background: transparent !important;
}

.post-content code {
  margin-left: 4px;
  margin-right: 4px;
  padding: 4px 6px;
  font-family: "Roboto Mono", monospace;
  font-size: 0.78em;
  line-height: 1.5;
  color: #1f2029;
  background: #ffeaa7;
  border-radius: 2px;
}
.post-content pre code {
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding: var(--gap);
  color: rgba(255, 255, 255, 0.8);
  background: transparent;
  border-radius: 0;
}
.post-content blockquote {
  margin: 0 0 0 calc(var(--gap) * -1);
  padding: 0 0 0 21px;
  border-left: 3px solid var(--primary);
}
.post-content hr {
  height: 1px;
  margin-top: 56px;
  margin-bottom: 56px;
  background: var(--tertiary);
  border-top: 0;
  border-bottom: 0;
}
.post-content iframe {
  max-width: 100%;
}
.post-footer {
  margin-top: 56px;
}
.post-tags li {
  display: inline-block;
}
.post-tags li + li {
  margin-left: 3px;
}
.post-tags a {
  display: block;
  padding-left: 14px;
  padding-right: 14px;
  color: var(--secondary);
  font-size: 14px;
  line-height: 34px;
  background: var(--code-bg);
  border-radius: 4px;
}
.post-tags a:hover {
  background: var(--border);
}
/* Footer
-------------------------------------------------- */
.footer {
  margin-left: auto;
  margin-right: auto;
  padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
  color: #1f2029;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
}
.footer span {
  margin-left: 1px;
  margin-right: 1px;
}
.footer a {
  color: inherit;
}
.footer a:hover {
  color: var(--primary);
  border-bottom: 1px solid var(--primary);
}
/* 404
-------------------------------------------------- */
.not-found {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  font-size: 160px;
  font-weight: 700;
}

.wrapper.search {
	margin-bottom: 20px;
	box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}

















/* Custom Styles
-------------------------------------------------- */




article.wrapper-2017 {
	position: relative;
	transition: all .3s cubic-bezier(0,0,.5,1);
	font-size: 16px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: var(--gap);
	background: var(--entry);
	border-radius: 8px;
	box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}

article.wrapper-2017:hover {
	box-shadow: 2px 4px 16px rgba(0,0,0,.16);
}

.info-box .info {
  box-sizing: border-box;
  float: left;
  width: 33.3333333333%;
  padding: 0;
  min-height: 50px;
}

.info-box .info h4,
h4.about-the-item {
  font-size: 11px;
  line-height: 11px;
  margin-bottom: 9px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 33px;
  text-transform: none;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
}

article.wrapper-2017 figure {
  position: relative;
  margin: 0;
}

article.wrapper-2017 h3 + p {
  margin-bottom: 33px;
}

.info-box {
  overflow: hidden;
}

.info-box .info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

article.wrapper-2017 h3 {
  margin: 10px 0 5px !important;
  font-size: 18px;
  text-transform: uppercase;
}

article.wrapper-2017::after {
  content: " ";
  display: block;
  padding: 20px;
  margin: 10px auto;
  width: 100%;
}

/* Update Article Wrapper 2017*/

.info span,
span.about-the-item {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 43px;
}

.info {
  clear: none;
}

ul.article-list {
  margin-left: 30px;
  list-style-type: none;
}

article.wrapper-2017 p {
  padding-right: 8px;
  margin-top: -5px;
}

ul.article-list li::before {
  content: "-";
  display: block;
  float: left;
  margin-right: 5px;
}

.info-box a {
  color: #0066CC;
  text-decoration: none;
}

article.wrapper-2017 .accent {
  font-family: "Roboto Mono", monospace;
  display: inline-block;
  width: 25%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}

article.wrapper-2017 p + p {
  color: rgb(51, 51, 51);
  margin-bottom: 0;
}

.box-content > div.container {
  width: auto;
  margin-top: 20px;
}

main article video {
  width: 100%;
  border-radius: 6px;
}

main figure img {
  z-index: 99;
  width: 100%;
}

main figure img + img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

main figure:hover img + img {
  z-index: 1;
}

main .img-extra::after {
  display: block;
  padding: 0 10px;
  content: "hover to play";
  position: absolute;
  left: -25px;
  top: 150px;
  font-size: 14px;
  color: #ffeaa7;
  text-align: center;
  background: #1f2029;
  transform-origin: 0 0;
  transform: rotate(270deg);
  transition: all .3s cubic-bezier(0,0,.5,1);
  border-radius: 4px 4px 0 0;
  z-index: -1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

main figure .img-extra::after {
  left: -50px;
}

main video:hover + .img-extra::after,
main img:hover + .img-extra::after {
  left: 0;
  box-shadow: none;
}

.main .sitemap {
  margin-top: 30px;
}

.sitemap {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  margin-bottom: 50px;
}

.sitemap .card {
  min-height: 100%;
  background: white;
  box-shadow: 2px 4px 12px rgba(0,0,0,.08);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  border-radius: 6px 6px 0 0;
  transition: all .3s cubic-bezier(0,0,.5,1);
}

.sitemap .card:hover {
  top: -2px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.16);
}

.sitemap .card article {
  padding: 20px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.sitemap img {
  border-end-end-radius: 0;
  border-bottom-left-radius: 0;
}

.sitemap h3 {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  color: #333;
}

.sitemap .card span {
  font-size: 10px;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin: 2em 0 0 0;
}

.video-container {
  margin: 50px 0 50px;
  background-color: #1f2029;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1f2029;
}

div.link {
  margin-bottom: 50px;
}

div.wrapper {
  display: flex;
  max-width: 880px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  div.wrapper {
    display: block;
  }
}

ul.navi {
  margin-bottom: 30px;
}

ul.navi li {
  display: inline-block;
  font-size: 14px;
  color: #555;
  list-style-type: none;
  margin-right: 8px;
}

ul.navi li a {
  padding: 5px 10px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.88);
  color: rgb(255, 234, 167);
  font-family: "Roboto Mono", monospace;
  transition: all .3s cubic-bezier(0,0,.5,1);
}

ul.navi li a:hover {
  text-decoration: underline;
}

ul.navi li a.html-menu:hover {
	color: #e54d26;
}

ul.navi li a.css-menu:hover {
	color: #006fb9;
}

ul.navi li a.bs-menu:hover {
	color: #6d15ed;
}

ul.navi li a.js-menu:hover {
	color: #cfb432;
}

ul.navi li a.jq-menu:hover {
	color: #1b75bb;
}

ul.navi li a.react-menu:hover {
	color: #61dafb;
}

ul.navi li a.vue-menu:hover {
	color: #4dba87;
}

ul.navi li a.books-menu:hover {
	color: #f3797a;
}

span.badge {
  margin-left: 15px;
  color: #1488cc;
}

article.digest {
  margin: 120px 0;
}

.gsib_a,
.gsc-search-button {
  line-height: 1;
}

#___gcse_0 {
  width: 100%;
  padding: 0;
}

.post-entry {
	padding-bottom: 50px;
	transition: all .3s cubic-bezier(0,0,.5,1);
	box-shadow: 2px 4px 12px rgba(0,0,0,.08);
}

.post-entry:hover {
	box-shadow: 2px 4px 16px rgba(0,0,0,.16);
}

h2.subheader {
  margin-top: 50px;
  font-size: 18px;
  text-transform: uppercase;
}

a.tailwind-menu:hover {
	color: #38bdf8;
}

body.home p.intro {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 16px;
}

body.single p.intro,
body.list p.intro {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 24px;
}

body.single p,
body.list p {
  margin-bottom: 18px;
}

.first-entry img {
  border-radius: var(--radius);
}

body.single p.logo {
  margin: 0;
}

nav.container {
  padding: 30px 20px;
  margin: -50px auto 0;
  border-radius: 8px;
  box-shadow: 2px 4px 16px rgba(0,0,0,.16);
}

nav.container ul.pagination {
  display: flex;
  text-align: center;
  list-style: none;
}

nav.container ul.pagination li {
  flex: 1;
  margin: 0px 5px;
  border: 1px solid rgba(0, 0, 0, 0.88);
  border-radius: 4px;
}

nav.container ul.pagination li a {
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.88);
  height: 32px;
  display: block;
  line-height: 32px;
  transition: all .3s cubic-bezier(0,0,.5,1);
  background-color: transparent;
}

nav.container ul.pagination li a:hover {
  font-size: 16px;
}

nav.container ul.pagination li.active {
  border-bottom: 3px solid rgba(0, 0, 0, 0.88);
}

nav.container ul.pagination li.active a {
  font-size: 20px;
  font-weight: bold;
}
nav.container ul.pagination li:first-child {
  margin: 0 15px 0 0;
  border: 1px dashed;
}
nav.container ul.pagination li:last-child {
  margin: 0 0 0 15px;
  border: 1px dashed;
}



@media only screen and (min-width: 476px) {
  .sitemap {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sitemap-item-feature {
    grid-column: 1 / span 2;
  }
}

@media only screen and (min-width: 960px) {
  .home .sitemap {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sitemap {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1296px) {
  .home .sitemap {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sitemap {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 768px) {
  article.wrapper-2017 {
    font-size: 14.4px;
  }
  .info-box .info {
    width: 100%;
    text-align: center;
  }
  .info-box .info h4 {
    margin-top: 10px;
  }
  article.wrapper-2017 .accent {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0;
  }
  nav.container ul.pagination li a {
    font-size: 10px;
  }
}

h4.list-header {
  font-size: 18px;
  text-transform: uppercase;
}

.list-header+ol {
  columns: 3;
  font-size: 14px;
  font-family: monospace;
}

.list.home .sitemap h3+span {
  color: #666;
}

body.list p.logo {
  margin-bottom: 0;
}