@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
  font-family: 'Josefin Sans', sans-serif;
}

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
 
}



