@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500&display=swap');
*
{
  font-family: proxima-nova, sans-serif;
font-style: normal;


}

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  background-color: #f7f8fa;
  padding: 0;
  width: 100%;
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
  /* background: #C9D6FF;  
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  
background: linear-gradient(to right, #E2E2E2, #C9D6FF);  */
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.map{
  /* box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  border-radius: 15px;

  @media(max-width:622px){
    width:100%;
  }
}





/* CSS */
.button-28 {
  border-radius: 15px;
  text-decoration : none;
  background-color: #D84738;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 0.7rem 1.3rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  touch-action: manipulation;

  will-change: transform;
}


.button-28:hover {
  color: #D84738;
  background-color: #ffffff;
  transition: all 0.3s ease;
  box-shadow: rgba(255, 255, 255, 0.25) 0 8px 15px;
  transform: translateY(-2px);

}

.properties{
  /* background-image: url("https://res.cloudinary.com/dyqynjew8/image/upload/v1697263763/hong-kong-1990268_1920_dofdk4.jpg"); */
  color: rgb(22, 22, 22);
font-size: 2rem;
  @media(max-width:700px){
    font-size: 1.5rem;
  }
}

.imgText{
  top:0%;
  left:85%;
  transform: translate(-50%,50%);
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 0.6rem;
  padding: 0.3rem;
  font-weight: 600;
  
}


.small{
  width: 10rem;
  height: 5rem;
  padding: 0.5rem;
  transition: all 0.3s ease;
  display: block;
  @media(max-width: 600px){
    display: flex;
    justify-content: center;
  }
  @media(max-width:627px){
    width: 5rem;
  height: 3rem;
  }
  @media(max-width:418px){
    width: 3.4rem;
  height: 2.5rem;
  }
}

.flat_details{
  padding:1rem;
  @media(max-width:627px){
    width: 92%;
    padding: 1rem;
  }
}
.flat{
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @media(max-width:700px){
    grid-template-columns: repeat(2, 1fr);
  }
  @media(max-width:627px){
    grid-template-columns: repeat(1, 1fr);
  }
}

.Send{
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1.7rem;
  border-radius: 8px;;
}
.Sent{
  background-color: green;
  color: white;
  border: none;
  padding: 0.5rem 1.7rem;
  border-radius: 8px;;
}

.keyHighlights{
width: 80%;
text-align: justify;
 @media(max-width: 730px){
  width: 92%;
 }
}

.book_call{
     padding-top:0rem;
    display:flex; 
    
    justify-content:space-between;
    @media(max-width:700px){
      display: block;
    }
}

.book_call_buttons{
  width: 48%;
  margin-bottom: 0.4rem;
  @media(max-width:700px){
    width: 100%;
  }
}

.colorbtn{
  background: #D84738;  /* fallback for old browsers */
 border-radius: 8px;

}

.colorbtn2{
background-color: #D84738;
border-radius: 8px;
}


.core_values{
  padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all 0.3s ease;
    font-weight: 700;
    margin:0;
  

  @media(max-width: 950px){
    
      font-size:3rem;
      transition: all 0.3s ease;
    
  }
  @media(max-width: 590px){
    
      font-size:1.8rem;
      transition: all 0.3s ease;
    }
  
}

.red_box{

color: rgb(255, 255, 255);
}

.green-box{
  background-color: #d62828;
  color: white;
}

.blue-box{
  background: #2193b0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;

}
.white-box{
  background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: white;
}

